dill
streamlit       # Stable version for building web apps
pandas         # Compatible with Streamlit
numpy            # Ensures compatibility with TensorFlow and pandas
tensorflow       # Stable TensorFlow version (for both CPU/GPU)
joblib         # For saving models and scalers
scikeras
scikit-learn       # Works well with joblib and pandas
openpyxl         # For reading and writing Excel files
xgboost           # Stable version for classification tasks
imbalanced-learn # Compatible with scikit-learn for SMOTE
matplotlib
